
 #wrapper{
     width:800px;
     height:700px;
     background-color:white;
     margin: 0 auto;
 }

#logo{
  width:150px;
  height:120px;
  background-color: white;
  padding:2px;
}
 #Header{
      font-family:sans-serif;
      padding-left: 20px;
      float:right;
     color:black;
     font-size: 35px;
     height:120px;
     width: 650px;
     background-color: #FFF79D;
 }

#Navbar{
  font-family:sans-serif;
  width:800px;
  Height:50px;
  background-color: #A3CC6C;
}

#Bio{
  font-family:sans-serif;
    width: 250px;
    float: left;
    height: 200px;
    background-color:#BDE74D;
  }

  #Quick{
      font-family:sans-serif;
      float: left;
      width: 250px;
      height: 300px;
      background-color:#FFF79D;
    }

#photo{
    width: 550px;
    height: 400px;
    float: right;
    background-color:blue;
  }

#review{
    font-family:sans-serif;
    float: right;
    width:550px;
    height:100px;
    background-color:#BDE74D;
  }

  #footer {
    font-family:sans-serif;
    clear:both;
    text-align: center;
    color:black;
    font-size: 20px;
    height:75px;
    background-color: #A3CC6C;
  }
